@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The most wanted LPG gas agency that fuels Kerala. One of the leading names in the LPG industry, AVOGAS had a very humble beginning but today it is regarded as one of the juggernauts of the private LPG industry. At AVOGAS, we provide energy solutions to our customers for a better, safer and cleaner tomorrow. To increase our distribution network, we provide LPG gas agency dealership. Making a mark for ourselves we have transformed the Indian LPG sector across customer segments; including, industrial, commercial and domestic LPG. With a glorious legacy of over three decades, we continue to expand our footprints while serving a number of happy consumers all across Kerala.</p>
