@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AVO GAS Lane<br />
    Ernakuman, Kerla<br />
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@avogas.com">Support@avogas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@avogas.com">Marketing@avogas.com</a>
</address>