@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    Layout = null;
}

@{
    ViewBag.Title = "Dashboard";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div>
       <p>Welcome to your profile</p>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        Your name
                    </td>
                    <td>
                        First Name
                    </td>
                    <td>
                        Last Name
                    </td>
                    <td>Aadhaar</td>
                    <td>Mobile no</td>

                </tr>
            </thead>
            </table>
    </div>
</body>
</html>


