@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AVO GAS</h1>
    <p class="lead">The most wanted LPG gas agency that fuels Kerala. One of the leading names in the LPG industry, AVOGAS had a very humble beginning but today it is regarded as one of the juggernauts of the private LPG industry. </p>
    <p><a href="https://localhost:44331/Home/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>
            The most wanted LPG gas agency that fuels Kerala. One of the leading names in the LPG industry, AVOGAS had a very humble beginning but today it is regarded as one of the juggernauts of the private LPG industry.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44331/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Safety First</h2>
        <p>At AVOGAS, we provide energy solutions to our customers for a better, safer and cleaner tomorrow.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>World-class Services</h2>
        <p>To increase our distribution network, we provide LPG gas agency dealership. Making a mark for ourselves we have transformed the Indian LPG sector across customer segments; including, industrial, commercial and domestic LPG. With a glorious legacy of over three decades, we continue to expand our footprints while serving a number of happy consumers all across Kerala.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Home/Index">Learn more &raquo;</a></p>
    </div>
</div>